{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": [ "error",
      { "components": [ "Link" ], "specialLink": [ "to" ] }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": "off",
    "object-curly-newline": "off",
    "react/no-array-index-key": "off",
    "react/prefer-stateless-function": "off",
    "implicit-arrow-linebreak": "off",
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "lines-between-class-members": "off"
  }
}
