.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex-shrink: 0;
  height: 150px;
  padding: 20px;
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
